	<ion-view view-title=" asdasd" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> asdasd</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-asdasd" class="page-webview page-asdasd">
		                <div class="card" ng-init="openWebView('https://games.mad-agency.xyz/files/207022222/')">
                    <div class="padding">
                    <h2 class="text-center">Welcome</h2>
                    <p class="text-center">games.mad-agency.xyz</p>
                    <button class="button button-block button-calm" ng-click="openWebView('https://games.mad-agency.xyz/files/207022222/')">ENTER</button>
                    </div>
                </div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
