	<ion-view view-title=" Game Halloween" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Game Halloween</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll overflow-scroll="true"   id="page-game_halloween" class="page-iframe page-game_halloween">
		<iframe data-tap-disabled="true" class="fullscreen" src="https://games.mad-agency.xyz/files/207022222/index.html" width="100%" height="100%" ></iframe>

		</ion-content>
		<!-- ./content -->
	</ion-view>
