	<ion-view view-title=" Game Color" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Game Color</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-game_color" class="page-iframe page-game_color">
		<iframe data-tap-disabled="true" class="fullscreen" src="https://games.mad-agency.xyz/files/206815431/" width="100%" height="100%" ></iframe>
		</ion-content>
		<!-- ./content -->
	</ion-view>
