	<ion-view view-title="&lt;img src=&quot;data/images/icon/icone_Mad-Games-Maker_mini.png&quot; class=&quot;page-logo&quot; /&gt; Menu Two" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title><img src="data/images/icon/icone_Mad-Games-Maker_mini.png" class="page-logo" /> Menu Two</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-exchange" class="page-exchange">
		<div class="padding">
<h4>Exchanger's page<br /><br /></h4>
<p>This page is under construction. Please come back soon!<br /><br /><img src="data/images/images/asdback.png" width="100%" height="100%" caption="false" /></p>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
