	<ion-view view-title=" Faqs" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Faqs</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-profile" class="page-profile">
		<div class="padding">
<h4>User profile page<br /><br /></h4>
<p style="text-align: left;">This page is under construction. Please come back soon!<br /><br /><em><img src="data/images/header/mylogo.png" alt="" width="115" height="115" /></em><br /><em><input type="button" class="button-positive button-outline button-small button" value="Change avatar" /><br /><br />Username:&nbsp;<br />Name:&nbsp;<br />Surname:&nbsp;<br />E-mail:&nbsp;<br /><br /></em></p>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
