	<ion-view view-title=" Game Traffic" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Game Traffic</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-game_traffic" class="page-iframe page-game_traffic">
		<iframe data-tap-disabled="true" class="fullscreen" src="https://games.mad-agency.xyz/files/206817031/" width="100%" height="100%" ></iframe>
		</ion-content>
		<!-- ./content -->
	</ion-view>
