<ion-tabs class="tabs-striped  tabs-icon-top tabs-background-royal tabs-color-light" data-ink-opacity=".35" >
	<ion-tab class="{{ hide_menu_home }} menu-home" title="{{ 'Home' | translate }}" icon-off="ion-ios-home" icon-on="ion-ios-home" ui-sref="html5_games_app.dashboard" >
	</ion-tab>
	<ion-tab class="{{ hide_menu_games }} menu-games" title="{{ 'Games' | translate }}" icon-off="ion-ios-game-controller-b" icon-on="ion-ios-game-controller-b" ui-sref="html5_games_app.games" >
		<ion-nav-view animation="none" name="html5_games_app-games"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_exchange }} menu-exchange" title="{{ 'Exchange' | translate }}" icon-off="ion-cash" icon-on="ion-cash" ui-sref="html5_games_app.exchange" >
		<ion-nav-view animation="none" name="html5_games_app-exchange"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_faq }} menu-faq" title="{{ 'FAQ' | translate }}" icon-off="ion-help" icon-on="ion-help" ui-sref="html5_games_app.faq" >
		<ion-nav-view animation="none" name="html5_games_app-faq"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_user_profile }} menu-user_profile" title="{{ 'Profile' | translate }}" icon-off="ion-android-contact" icon-on="ion-android-contact" ui-sref="html5_games_app.user_profile" >
		<ion-nav-view animation="none" name="html5_games_app-user_profile"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-about_us" title="About Us"  ui-sref="html5_games_app.about_us"  >
		<ion-nav-view animation="none" name="html5_games_app-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-admob" title="Admob Code"  ui-sref="html5_games_app.admob"  >
		<ion-nav-view animation="none" name="html5_games_app-admob"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-asdasd" title="asdasd"  ui-sref="html5_games_app.asdasd"  >
		<ion-nav-view animation="none" name="html5_games_app-asdasd"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashboard" title="Dashboard"  ui-sref="html5_games_app.dashboard"  >
		<ion-nav-view animation="none" name="html5_games_app-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_air" title="Game Air"  ui-sref="html5_games_app.game_air"  >
		<ion-nav-view animation="none" name="html5_games_app-game_air"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_candy" title="Game Candy"  ui-sref="html5_games_app.game_candy"  >
		<ion-nav-view animation="none" name="html5_games_app-game_candy"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_color" title="Game Color"  ui-sref="html5_games_app.game_color"  >
		<ion-nav-view animation="none" name="html5_games_app-game_color"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_halloween" title="Game Halloween"  ui-sref="html5_games_app.game_halloween"  >
		<ion-nav-view animation="none" name="html5_games_app-game_halloween"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_stick" title="Game Stick"  ui-sref="html5_games_app.game_stick"  >
		<ion-nav-view animation="none" name="html5_games_app-game_stick"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_traffic" title="Game Traffic"  ui-sref="html5_games_app.game_traffic"  >
		<ion-nav-view animation="none" name="html5_games_app-game_traffic"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-hallowin" title="Hallowin"  ui-sref="html5_games_app.hallowin"  >
		<ion-nav-view animation="none" name="html5_games_app-hallowin"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-help" title="Help"  ui-sref="html5_games_app.help"  >
		<ion-nav-view animation="none" name="html5_games_app-help"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-profile" title="Faqs"  ui-sref="html5_games_app.profile"  >
		<ion-nav-view animation="none" name="html5_games_app-profile"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-slide_tab_menu" title="Menu"  ui-sref="html5_games_app.slide_tab_menu"  >
		<ion-nav-view animation="none" name="html5_games_app-slide_tab_menu"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-user_login" title="User Login"  ui-sref="html5_games_app.user_login"  >
		<ion-nav-view animation="none" name="html5_games_app-user_login"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-user_register" title="User Register"  ui-sref="html5_games_app.user_register"  >
		<ion-nav-view animation="none" name="html5_games_app-user_register"></ion-nav-view>
	</ion-tab>
</ion-tabs>
