	<ion-view view-title=" User Profile" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> User Profile</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-user_profile" class="page-user_profile">
		

<div class="list">
    <div class="item item-avatar item-text-wrap noborder">
        <img ng-src="{{ current_user.avatar }}" class="avatar" />
        <span>{{ current_user.username }}</span>
        <h2>{{ current_user.email }}</h2>
    </div>
</div>

<div class="list card">
    
    <div class="item item-divider">
        Personal Information
    </div>
    
    <label class="item item-input item-stacked-label">
        <span class="input-label">Display Name</span>
        <input type="text" ng-value="current_user.displayname" />
    </label>
    
    <label class="item item-input item-stacked-label">
        <span class="input-label">Firstname</span>
        <input type="text" ng-value="current_user.firstname" />
    </label>
    
    <label class="item item-input item-stacked-label">
        <span class="input-label">Lastname</span>
        <input type="text" ng-value="current_user.lastname" />
    </label>
    
    <label class="item item-input item-stacked-label">
        <span class="input-label">Date Registered</span>
        <input type="text" ng-value="current_user.registered" />
    </label>
    
        
    <label class="item item-input item-stacked-label">
        <span class="input-label">URL</span>
        <input type="text" ng-value="current_user.url" />
    </label> 
    
    <div class="item">
        <button class="button button-small button-assertive" ng-click="logOut()">Logout</button>
    </div>
    
</div>


 


		</ion-content>
		<!-- ./content -->
	</ion-view>
